Source: libfli
Section: libs
Priority: extra
Maintainer: Debian Krap Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.4.7)
Standards-Version: 3.9.2
Homepage: http://indi.sourceforge.net/

Package: libfli1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Finger Lakes Instrument library -- shared library
 The Finger Lakes Instrument library is used by applications to control
 FLI CCDs and Filter wheels.
 .
 This package contains the shared library.

Package: libfli-dev
Section: libdevel
Architecture: any
Depends: libfli1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Finger Lakes Instrument library -- development files
 The Finger Lakes Instrument library is used by applications to control
 FLI CCDs and Filter wheels.
 .
 This package contains development headers for the Finger Lakes Instruments
 library.
